/* Background */
/*-----------------------------------------------*/
.background {
width:100%;
height:100vh;
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;;
background-size:cover;
opacity:0;
animation-name:background-reveal;
animation-delay:0.5s;
animation-duration:2s;
animation-fill-mode:forwards;
}
@keyframes background-reveal {
0% {opacity:0;}
100% {opacity:1.0;}
}
@media screen and (max-width:800px) {
@keyframes background-reveal {
0% {opacity:0;}
100% {opacity:1.0;}
}
}
@media screen and (max-width:700px) {
@keyframes background-reveal {
0% {opacity:0;}
100% {opacity:1.0;}
}
}
@media screen and (max-width:600px) {
@keyframes background-reveal {
0% {opacity:0;}
100% {opacity:1.0;}
}
}

