/* Footer */
/*-----------------------------------------------*/
#footer {
background:#aaaaaa;
}
footer {
display:block;
}
.footer {
font-size:0.75em;
padding:10px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
