/* Section */
/*-----------------------------------------------*/
section {
position:relative;
}
section#navigation {
min-width:350px !important;
}
section#loader {
background:#ffffff;
}
@media screen and (min-width:800px) {
section {
margin:0;
padding:10px calc(50% - 400px);
}
}
@media screen and (max-width:800px) {
section {
margin:0;
padding:10px;
}
}
